body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('bikini-bottom.jpeg') center center no-repeat; 
    background-size: cover;
}

.game-container {
    position: relative;
    width: 500px;
    height: 500px;
    background: url('ananas.webp') center center no-repeat;
    border: 2px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

#target {
    position: absolute;
    width: 80px; 
    height: 80px; 
    background-image: url('Mr._krabs.svg.png');
    background-size: cover;
    cursor: pointer;
}

#clickCount {
    position: fixed;
    top: 10px;
    right: 30px;
    font-size: 40px;
    white-space: nowrap;
    padding: 10px;
    border-radius: 10px;
}

#missedCount {
    position: fixed;
    top: 70px;
    right: 40px;
    font-size: 40px;
    color: red; 
    white-space: nowrap;
}